/* Estilos para el modo oscuro */
.dark-theme {
    background-color: #121212;
    color: #fff;
}

body {
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
}

.dark-theme .css-sziceh-MuiButtonBase-root-MuiButton-root.Mui-disabled {
    background-color: white;
}

.dark-theme input {
    color: white;
}

.dark-theme .MuiOutlinedInput-notchedOutline {
    border-color: white;
}

.dark-theme .MuiOutlinedInput-notchedOutline:hover {
    border: solid;
    border-color: white;
}

.dark-theme .MuiFormControl-root.MuiFormControl-marginNormal.MuiFormControl-fullWidth.MuiTextField-root label {
    color: white;
}

.dark-theme textarea {
    border-color: white;
    color: white;
}

.dark-theme textarea:hover {
    border: solid;
    border-color: white;
}

/* Asegúrate de que el switch y los iconos sean visibles en ambos modos */
.MuiSwitch-root {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .MuiFormControlLabel-label {
    display: flex;
    align-items: center;
    font-size: 20px;
  }
  